@using Blogger.Data

<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Posted on the @Model.Date.ToShortDateString() by @Model.Author</h6>
        <p class="card-text">@Model.Body</p>
        <a href="/@(Model.RedirectToEditPage ? "EditPost" : "PostDetail")/@Model.PostId" class="stretched-link"></a>
    </div>
</div>

@code {

    [Parameter]
    public PostCardModel Model { get; set; }
}