@using Blogger.Data
@using System.ComponentModel.DataAnnotations


<div class="rz-m-5" style="height: 100%; overflow: auto">
    @foreach (var post in Posts)
    {
        
        var model = new PostCardModel
        {
            Author = post.Author.UserName ?? "Unknown Author",
            Date = post.PublishDate,
            Title = post.Title,
            PostId = post.PostId,
            RedirectToEditPage = RedirectToEdit
        };

        <div class="rz-mb-5">
            <PostCard Model="@model"/>
        </div>
    }
</div>

@code {
    [Parameter]
    [Required]
    public List<Post> Posts { get; set; }

    [Parameter]
    public bool RedirectToEdit { get; set; } = false;

    const int MaxLength = 100;

}