@page "/CreatePost"
@using Markdig
@using Microsoft.AspNetCore.Identity
@using Blogger.Data
@using System.Security.Claims
@inject UserManager<User> UserManager
@inject PostService Service
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavManager



<div class="rz-m-2">
    <Editor @bind-HtmlValue="@html" @bind-Title="@title"/>
    
    <RadzenButton Text="Publish" class="mt-2"/>    
</div>




@code {


    
    User? _user;

    string html = "";
    string title = "";
    
    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = state.User;
        if (user.Identity.IsAuthenticated)
        {
            _user = await UserManager.GetUserAsync(user);
        }
    }

    async Task SubmitPost()
    {
        if (_user != null)
        {
            
            var post = new Post
            {
                Author = _user,
                Title = "test",
                Body = html,
                PublishDate = DateTime.Now
            };
            
            await Service.AddPost(post);
            NavManager.NavigateTo("/Profile");
        }
        
    }

}