@page "/Profile"
@using Blogger.Data
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<User> UserManager

<h3>My Posts</h3>

@if (_user.Posts.Count == 0)
{
    <h2>You haven't created any posts yet</h2>
}

<PostList Posts="@_user.Posts" RedirectToEdit="true"/>

@code {

    User? _user;
    const int MaxLength = 100;
    
     
    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = state.User;
        if (user.Identity.IsAuthenticated)
        {
            _user = await UserManager.GetUserAsync(user);
        }
    }

}