@page "/Profile"
@using Blogger.Data
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<User> UserManager

<div class="container m-2">
    <h3>My Posts</h3>
    
    @if (_user!= null)
    {
        @if (_user.Posts != null && _user.Posts.Any())
        {
            <PostList Posts="@_user?.Posts" RedirectToEdit="true"/>   
        }
        else
        {
            <h2 class="text-center">You haven't created any posts yet</h2>    
        }
    }
</div>





@code {

    User? _user;
    const int MaxLength = 100;
    
     
    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = state.User;
        if (user.Identity?.IsAuthenticated == true)
        {
            _user = await UserManager.GetUserAsync(user);
        }
    }

}